<section class="h-100 back">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="Register.JPG" class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>

            <form class="px-md-2" [formGroup]="registerForm" (ngSubmit)="RegisterMember()">

              <div class="form-outline mb-4">
                <label for="firstName">First Name <span class="text-danger">*</span></label>
                <input type="text" id="firstName" class="form-control" placeholder="Enter Your First Name" formControlName="FirstName" />
              </div>

              <div class="form-outline mb-4">
                <label for="lastName">Last Name <span class="text-danger">*</span></label>
                <input type="text" id="lastName" class="form-control" placeholder="Enter Your Last Name" formControlName="LastName" />
              </div>

              <div class="form-outline mb-4">
                <label for="email">Email Address <span class="text-danger">*</span></label>
                <input type="email" id="email" class="form-control" placeholder="Enter Your Email" formControlName="Email" />
              </div>

              <div class="form-outline mb-4">
                <label for="password">Password <span class="text-danger">*</span></label>
                <input type="password" id="password" class="form-control" placeholder="Enter Your Password" formControlName="Password" />
              </div>

              <div class="form-outline mb-4">
                <label for="mobileNumber">Mobile Number <span class="text-danger">*</span></label>
                <input type="text" id="mobileNumber" class="form-control" placeholder="Eg: 0771234567" formControlName="MobileNumber" />
              </div>

              <div class="form-outline mb-4">
                <label for="nic">NIC Number <span class="text-danger">*</span></label>
                <input type="text" id="nic" class="form-control" placeholder="Eg: 982760884v or 199827600884" formControlName="NIC" />
              </div>

              <div class="form-outline mb-4">
                <label for="licenseNumber">License Number <span class="text-danger">*</span></label>
                <input type="text" id="licenseNumber" class="form-control" placeholder="Eg: B4647245" formControlName="LicenseNumber" />
              </div>

              <div class="form-outline mb-4">
                <label for="licenseImage">Upload Your License Photo <span class="text-danger">*</span></label>
                <input type="file" id="licenseImage" class="form-control" (change)="onFileChange($event, 'LicenseImage')" />
              </div>

            

              <div data-mdb-input-init class="form-outline mb-4">
                <label class="form-label" for="CameraCapture">Upload camera Photo <span class="text-danger">*</span></label> <br>
               <!-- <input type="file" id="licenceImage" class="form-control" (change)="onFileChange($event, 'cameraPic')"  formControlName="cameraPic"/>  -->
               <button id="openCamera" class="btn btn-success me-2" (click)="openCamera()">Open Camera</button>
               <button id="takePhoto" class="btn btn-secondary me-2" (click)="takePhoto()" [disabled]="!isCameraOpen">Take Photo</button>
               <button id="closeCamera" class="btn btn-danger me-2" (click)="closeCamera()" [disabled]="!isCameraOpen">Close Camera</button>
               <video id="video" #videoElement ></video>
               <canvas id="canvas" #canvasElement style="display:none;"></canvas>
               <img id="capturedImage" #capturedImageElement style="display:none;"  />
             </div>

              <div class="form-outline mb-4">
                <label for="role">Role</label>
                <select id="role" class="form-select" formControlName="Role">
                  <option value="1">Admin</option>
                  <option value="2">Standard</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary btn-lg mb-1" [disabled]="registerForm.invalid">Register</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
