


<div class="login-container shadow-lg">
  
    <div class="login-card">
      <div class="login-image">
        <img src="cropBike450.JPG" alt="" height="500" width="450">
      </div>
      <div class="login-form">
        <h2 class="text-center">Sign In</h2>
        <form >
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control mb-3" id="password" placeholder="Password" minlength="8">
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
          <div class="form-group form-check mt-3">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label me-2" for="rememberMe">Remember Me</label>
            <a href="#" class="float-right">Forgot Password</a>
          </div>
        </form>
        <div class="text-center mt-4">
          <span>Not a member? <a [routerLink]="['/register']">Register Now</a></span>
        </div>
        <div class="social-icons text-center mt-4">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter-x"></i></a>
        </div>
      </div>
    </div>
  </div>

  
  
